<!DOCTYPE html>
<html>
    <head>
        <title>Surf City Botanicals</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Surf City Botanicals Blog</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">Hydrosols</a></h2>
            <p>Info</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">Essential Oils</a></h2>
            <p>More info</p>
        </article>
    </body>
</html>